<section class="filter-data">
    <div class="filter-div">
      <label for="fdate">filter Date</label>
      <input type="text" onchange={{action this.filterInputDate @data}} id="filter-date" value={{this.fdate}}>
    </div>
  <div class="filter-div">
    <label for="ftitle">filter Title</label>
    <input type="text" onchange={{action this.filterInputTitle @data}} id="filter-title" value={{this.ftitle}}>
  </div>
  <div class="filter-div">
    <label for="fversion">filter Version</label>
    <input type="text" onchange={{action this.filterInputVersion @data}} id="filter-title" value={{this.fversion}}>
  </div>
</section>