<nav>
  <ul>
    <li><a href="">Route1 placeholder</a></li>
    <li><a href="">Route2 placeholder</a></li>
    <li><a href="">Route3 placeholder</a></li>
  </ul>
</nav>

<main class="rd-app">
  {{dom-testing this.name}}
  <h3>This is a test application playing with EMBER OCTANE</h3>
  <FilterData @data={{this.itRdNews}} ...arguments  />
  <CreateRdNews
    @dataArr={{this.dataArr}}
    @dateVal={{this.date}}
    @onChangeDate={{this.handleDate}}
    @titleVal={{this.title}}
    @onchangeTitle={{this.handleTitle}}
    @versionVal={{this.version}}
    @onChangeVersion={{this.handleVersion}}
  />
  <button onclick={{action this.refresh}}>Refresh</button>
  <h3>Application table all props and methods are from the controller application.js</h3>
  <select name="" id="" onchange={{action this.handleSelect}}>
    <option value="5">5</option>
    <option value="10">10</option>
  </select>
<table class="main-table">
  <thead>
  <tr>
    <th {{action this.sortByProp 'date'}}>Date</th>
    <th {{action this.sortByProp 'title'}}>Title</th>
    <th {{action this.sortByProp 'version'}}>Version</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody class="mainbody">
  <small>updated array</small>
  {{#each this.testArr as |v|}}
      <tr>
        <td>{{v.date}}</td>
        <td>{{v.title}}</td>
        <td>{{v.version}}</td>
      </tr>
  {{/each}}
  <small>Sorted Array</small>
    {{#each this.sortArrByProps as |v|}}
      <tr class="trbody">
        <td class="date">{{v.date}}</td>
        <td class="title">{{v.title}}</td>
        <td class="version">{{v.version}}</td>
        <td>
          <EditAction @values={{v}} @act={{this.editModal}} ...arguments />
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<hr>
  <FilterData @data={{this.sortArrByProps}} ...arguments  />
  <CreateRdNews
    @dataArr={{this.sortArrByProps}}
    @dateVal={{this.date}}
    @onChangeDate={{this.handleDate}}
    @titleVal={{this.title}}
    @onchangeTitle={{this.handleTitle}}
    @versionVal={{this.version}}
    @onChangeVersion={{this.handleVersion}}
  />
  <DataTable @sortProp={{this.sortByProp}}
             @title="title"
             @isReversed={{this.isPropReversed}}
             @updatedSortProp={{this.sortProp}}
             @version="version"
             @date="date"
             @testArr={{this.testArr}}
             @sortedAr={{this.sortArrByProps}}
             @actionModal={{this.editModal}}
  />
  <Tabs />
</main>
{{outlet}}
<hr>
